<div class="center jumbotron">
  <div class="container">
    <h1>Blog Web App</h1>
    <p>Lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    <%= link_to "Sign up now", "#", class: "btn-color btn btn-primary btn-large" %>
  </div>
</div>

<%= link_to 'Articles page', articles_path %> |
<%= link_to 'About', about_path %>