$navbar-default-bg: #262626;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color: #262626ee;
    // height: 954px;
    // height: 100%;
    // min-height: 954px;
}

.body-height {
    height: 550px;
}

h1, h2, th, td, a {
    color: #ffffff;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #b8b8b8;
    text-decoration: none;
}

.center {
    margin-top: -20px;
    text-align: center;
}

.jumbotron {
    background-image: asset-url('jumbotronbg.jpg');
    background-size: cover;
    height: 550px;
}

.jumbotron h1 {
    text-align: center;
    letter-spacing: -2px;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron p {
    border-bottom: solid #262626 0.5px;
    text-align: center;
    color: #262626;
    padding: 1em;
}

.container {
    width: 50%;
}

.edit-description-text {
    color: black;
}

.btn-color {
    margin-top: 10px;
    color: #ffffff;
    background-color: #262626;
}

.btn-color:hover {
    margin-top: 10px;
    color: #ffffff;
    background-color: #262626ee;
}

.form-label {
    color: #ffffff;
}

.article-actions {
    border-top: solid #262626 1px;
    padding-top: 5px;
}

.description {
    margin-top: 0;
}

.footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: solid #ffffff 1px;
    color: #262626ee;
    background-color: #262626;
    height: 3.5em;
    padding: 1em;
}

.footer a:hover {
    color: #b8b8b8;
    text-decoration: none;
}

.footer ul {
    float: right;
    list-style: none;
}

.footer ul li {
    float: left;
    margin-left: 15px;
}

.footer-font {
    float: left;
    color: #ffffff;
}