$navbar-default-bg: #262626;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color: #262626ee;
}

h1, h2, p, th, td, a {
    color: #ffffff;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #ffffff;
    text-decoration: none;
}

.center {
    margin-top: -20px;
    text-align: center;
}

.jumbotron {
    background-image: asset-url('jumbotronbg.jpg');
    background-size: cover;
    height: 550px;
}

.jumbotron h1 {
    text-align: center;
    letter-spacing: -2px;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron p {
    border-bottom: solid #262626 0.5px;
    text-align: center;
    color: #262626;
    padding: 1em;
}

.container {
    width: 50%;
}

.btn-color {
    margin-top: 10px;
    color: #ffffff;
    background-color: #262626;
}

.btn-color:hover {
    margin-top: 10px;
    color: #ffffff;
    background-color: #262626ee;
}